* {font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(250, 222, 169, 0.082);
}
h1, h2, h3{color: brown; font-size: xx-large;}
li{; letter-spacing: 1.2px;}
.Trippe{width: 500px; height: 300px;}
.Prep-Trippe{width: 700px; letter-spacing: 1.3px;}
.link{color: rgb(0, 0, 0);}
#img01{width: 450px; height: 300px;}
.Baccaqua{width: 700px;letter-spacing: 1.3px;}